@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

body {
  font-family: Montserrat,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.login-to-add {
  font-size: small;
  margin: auto;
  // padding: 0px 20px;
//   width: 250px;
}

.recommender-picture {
  // margin: 40px;
  border-radius: 400px;
  width: 50px
  // display: flex;
  // width: 25%;
}

.recommender-name {
  font-size: 13px;
}

.recommendation-tile {
  border: 2px solid #a8d09f;
  border-radius: 10px;
  margin: 10px 30px;
  padding: 5px;
  text-align: center;
  width: 190px;
}

.recommendation-tile p {
  margin: auto;
}

.recommendation-other-comments {
  font-size: 13px;
}

.recommendation-track {
  font-size: 16px;
}

.close-recommendation-button {
  cursor: pointer;
  &:hover {
    color: #a8d09f;;
  }
  font-size: 12px;
  margin: 5px;
}

.add-recommendation-text {
  margin: auto;
  margin-top: 5px;
  font-size: 15px;
}

.add-recommendation-button {
  font-size: small;
  cursor: pointer;
  &:hover {
    color: #cb7e1a;;
  }
  background-color: #f2ab51;
  border-radius: 10px;
  padding: 5px;
  color: white;
  border: 1px solid #cb7e1a;;
  margin: 15px 15px 5px 15px;
}

.show-recommendation-button {
  background-color: #a8d09f;
  font-size: small;
  cursor: pointer;
  &:hover {
    color: #507b46;
  }
  border: 1px solid #6ea262;
  border-radius: 10px;
  padding: 5px;
  color: white;
  text-align: center;
  margin: 20px;;
}

.no-recommendations-yet {
  font-size: small;
  margin: auto;
  padding: 0px 20px;
//   width: 250px;
}

.recommendation-form {
  font-size: small;
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width:400px
}

.no-audio-text {
  font-size: x-small;
  margin: auto;
}

.play-pause-buttons button {
  cursor: pointer;
  &:hover {
    color: #d84b99;
  }
}

.index-title {
  width: 50%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #d84b99;
}

.index-song-section {
  margin: auto;
  padding: 10px;
}

.index-profile-text {
  margin: 0;
}

.artist-text {
  font-size: small;
}

.index-section {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  margin: 10px;
  justify-content: center;
}

.index-profile-section {
  display: flex;
  align-content: flex-start;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100px;
  margin-right: 10px;
}

.index-profile-picture {
  margin: 10px;
  border-radius: 400px;
  display: flex;
  width: 60%;
}

.top-songs-text {
  width: 40%;
  font-size: 20px;
  text-align: center;
}

.top-bar {
  background-color: #3d6b5a;
  color: white;
}

.top-bar ul {
  background-color: #3d6b5a;
  font-family: Montserrat,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.menu-text {
  font-family: Verdana, Geneva, sans-serif;
}

.download-section a {
  font-size: x-large;
}

.download-section {
  font-size: 20px;
  margin: auto;
  margin-top: 40px;
  text-align: center;
}

a {
  color: white;
  cursor: pointer;
  &:hover {
    color: #a8d09f;;
  }
}

.button {
  background-color: #d84b99
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
}

.profile-image {
  margin: 40px;
  border-radius: 400px;
  display: flex;
  width: 25%;
}

.profile-text-section {
  margin: 10px;
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
  font-size: 200%;
}

.song-tile {
  margin: 10px;
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fbf6ee;
  border: 2px solid #f2ab51;
  border-radius: 10px;
}

.img-format {
  width: 150px;
  height: 150px;
}

.tile-text {
  margin: auto;
  max-width: 100%; 
  min-width: 150px;
  max-width: 150px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
